<h1>Questions</h1>

<h4>Ask your coach anything:</h4>

<form action="/answer" data-turbo="false">
  <input type="text" name="input" placeholder="Write your question here">
  <input type="submit" value="Ask!">
</form>
